
:root {
    --msgYoffset: 400px;
  }
  
.alert {
    margin: auto;
    position: absolute;
    display: none;
    padding: 25px 5px 25px 5px !important;
    width: 500px;
    top: var(--msgYoffset);
    left: 0;
    right: 0;
    border: solid yellow 1px;
    background-color: #444;
    color:white;
    font-size: 1.2em;
    text-align-last: center;
    z-index: 100;
}

#pagetitle {
    text-align: left; 
    top:0; 
    right:10px; 
    position:absolute; 
    color:yellow;
    font-size:1.5em;
}

/* div to ensure touchscreen below game area */
#fullpage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #444;
    display: flex;
    flex-direction: column;
}

span {
    color: #ddd;
    margin-bottom: 1px;
}

#gameLevel {
    width: 150px !important;
    margin-left: 0.3em;
    margin-top: 2px;
    margin-bottom: 1px;
    height:30px;
    color: white;
}

#gameLevel > option:not(:hover) {
    background-color: #ccc;
    color: black;
}

.level-option {
    font-size: 0.8em !important;
}

/* @media (orientation: portrait) {
    body {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        @include transform-origin(0% 0%);
        @include transform( rotate(90deg));
        position: absolute;
        left: 100%;
    }
} */

h1, h2, h3, h4, h5, h6, .button, button, dd, dt, li, p {
    margin-bottom: 3px !important;
}

.button, button {
    padding: 2px 15px !important;
    margin: 0 !important;
    height: 3.1rem !important;
}

.container {
    padding: 0 !important;
}

#sound, #restart {
    cursor: pointer;
}

/* Game area base styling */
#row {
    width: 100%;
    padding: 0;
    margin: 0;
}

#row:first-child {
    /* Menu bar row */
    flex: 0 0 auto;
}

#row:last-child {
    /* Canvas row */
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#game-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 0;
}

#game-area canvas {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
    max-width: 100vw;
    max-height: 100%;
    aspect-ratio: 16 / 9;
}

#main {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* suppress vertical scroll on mobiles */
html, body {
    overscroll-behavior-y: contain;
}

/* Landscape orientation optimizations */
@media (orientation: landscape) {
    body, html {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #fullpage {
        width: 100vw;
        height: 100vh;
    }

    #game-panel {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0;
        width: 100vw;
        margin: 0;
    }

    /* Menu bar - full width */
    #game-panel > .container {
        flex-shrink: 0;
        width: 100%;
        padding: 0 !important;
    }

    /* Game area row inside container */
    #game-panel > .container > #row {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin: 0;
        flex: 1;
    }

    #game-panel > .container > #row:nth-of-type(2) {
        flex: 1;
        height: auto;
    }

    #game-panel > .container > #row .column-50 {
        flex: 1;
        max-width: none;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #main {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
        display: flex;
        /* flex: 1; */
        /* height: 100%; */
        flex-direction: column;
        height: 90vh !important; /* 80% of viewport height */
        flex: none !important;   /* disable stretching by flex */
    }

    #game-area {
        width: 100%;
        height: 100% !important; /* fill #main */
        flex: 1;
    }

    /* Message alert positioning */
    .alert {
        position: fixed;
    }
}
